@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;700&family=Inter:wght@200;400;600&family=Saira+Extra+Condensed:wght@200;400;600&display=swap');

/*|----RESET----|*/
*{
    box-sizing: border-box;
}
html {
    font-family: 'Barlow',sans-serif
}
body{
    margin: 0;
}

h1,h2,h3,p,ul{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style: none;
    padding: 0;
}
img{
    display: block;
    width: 100%;
}
button,input{
    font-family: inherit;
}

button{
    cursor: pointer;
}

